Dataset/MoNuSegTestData/
Dataset/MoNuSeg 2018 Training Data/
Dataset/train/
Dataset/val/
Dataset/test/
Dataset/train_c/
Dataset/val_c/
Dataset/test_c/
Dataset/test0/
Dataset/trainNormal/
Dataset/trainNormal2/
Dataset/trainNormal3/
Dataset/valNormal/
Dataset/valNormal2/
Dataset/valNormal3/
Dataset/testNormal/
Dataset/MonuSegData/
Dataset/MoNuSeg 2018 Training Data.zip
Dataset/MonuSeg-20200319T073151Z-001.zip
Dataset/MoNuSegTestData.zip
Dataset/train_old
Dataset/val_old
Dataset/Otherdata/
Outputs/
monuSegEnv/
simplexEnv/
model/
webserving/
webserving2Move/
